@page "/"
@page "/recipes"

<div>
    <label>Recipes:</label>
    <div>
        @foreach (var recipe in RecipesList)
        {
            <RecipeDetails Recipe=@recipe></RecipeDetails>
        }
    </div>
</div>