<div>
    <label>Recipe title</label>
    <p>@Recipe.Title</p>
</div>
                    
<div>
    <label>Recipe description</label>
    <p>@Recipe.Description</p>
</div>

<div>
    <label>Ingredients:</label>
    @foreach (var ingredient in Recipe.Ingredients)
    {
        <IngredientDetails Ingredient="@ingredient"></IngredientDetails>
    }
</div>