<EditForm Model="@_ingredientModel" OnValidSubmit="AddNewIngredient">
    <DataAnnotationsValidator />

    <label>Ingredient title</label>
    <InputText id="title" @bind-Value="_ingredientModel.Title" />
    <ValidationMessage For="@(() => _ingredientModel.Title)"></ValidationMessage>

    <label>Ingredient amount</label>
    <InputNumber id="amount" @bind-Value="_ingredientModel.Amount"></InputNumber>
    <ValidationMessage For="@(() => _ingredientModel.Amount)"></ValidationMessage>
    
    <button type="submit">Submit</button>
</EditForm>

@code{
    [Parameter]
    public EventCallback<Ingredient> OnIngredientAdd { get; set; } = new EventCallback<Ingredient>();

    private Ingredient _ingredientModel = new Ingredient();

    private async Task AddNewIngredient()
    {
        await OnIngredientAdd.InvokeAsync(_ingredientModel);
    }
}