<div>
    <label>Title</label>
    <p>@Ingredient.Title</p>
</div>

<div>
    <label>Amount to add</label>
    <p>@Ingredient.Amount</p>
</div>

@code{
    [Parameter]
    public Ingredient Ingredient { get; set; }
}