<div class="row mb-3" style="background-color: @BackgroundColor">
    <div class="col-6 themed-grid-col">
        <p>@Ingredient.Title</p>
    </div>
    <div class="col-6 themed-grid-col">
        <p>@Ingredient.Amount</p>
    </div>
</div>

@code{
    [CascadingParameter(Name="BackgroundColor")]
    public string BackgroundColor { get; set; }
    
    [Parameter]
    public Ingredient Ingredient { get; set; }
}