<div class="row mb-3">
    <div class="col-6 themed-grid-col">
        <label>
            Recipe title
        </label>
    </div>
    <div class="col-6 themed-grid-col">
        <p>@Recipe.Title</p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-6 themed-grid-col">
        <label>Recipe description</label>
    </div>
    <div class="col-6 themed-grid-col">
        <p>@Recipe.Description</p>
    </div>
</div>


<label>Ingredients:</label>
@foreach (var ingredient in Recipe.Ingredients)
{
    <IngredientDetails Ingredient="@ingredient"></IngredientDetails>
}

<div>
    <AddIngredient OnIngredientAdd="AddNewIngredient"></AddIngredient>
</div>

@code{

    [Parameter]
    public Recipe Recipe { get; set; }

    private void AddNewIngredient(Ingredient ingredient)
    {
        Recipe.Ingredients.Add(ingredient);
    }

}