@inject NavigationManager NavigationManager;

<div class="container">
    <label>Recipes:</label>
    
    <div>
        <CascadingValue Value="_backgroundColor" Name="BackgroundColor">
                @foreach (var recipe in _recipesList)
                {
                    <RecipeDetails Recipe=@recipe></RecipeDetails>
                }
            </CascadingValue>
    </div>

    <div class="row mb-3">
        <button class="btn btn-primary" @onclick="NavigateToJSInterop">Navigate to JS Interop demo</button>
    </div>
</div>

@code{
    private List<Recipe> _recipesList;
    private string _backgroundColor = "#0000ff3d";

    public Recipes()
    {
        _recipesList = new List<Recipe>
        {
            new Recipe
            {
                Title = "Borsch",
                Description = "Ukrainian national meal",
                Ingredients = new List<Ingredient>
                {
                    new Ingredient {Title = "Potato", Amount = 4},
                    new Ingredient {Title = "Tomato", Amount = 10},
                    new Ingredient {Title = "Cabbage", Amount = 1}
                }
            }
        };
    }

    private void NavigateToJSInterop()
    {
        NavigationManager.NavigateTo("jsinterop");
    }
}