<div>
    <label>Recipe title</label>
    <p>@Recipe.Title</p>
</div>
                    
<div>
    <label>Recipe description</label>
    <p>@Recipe.Description</p>
</div>

<div>
    <label>Ingredients:</label>
    @foreach (var ingredient in Recipe.Ingredients)
    {
        <IngredientDetails Ingredient="@ingredient"></IngredientDetails>
    }
</div>

<div>
    <AddIngredient OnIngredientAdd="AddNewIngredient"></AddIngredient>
</div>

@code{
    [Parameter]
    public Recipe Recipe { get; set; }

    private void AddNewIngredient(Ingredient ingredient)
    {
        Recipe.Ingredients.Add(ingredient);
    }
}